body {
    font-family: 'Poppins', sans-serif;
}

.flex {
    display: flex;
    margin: 200;
    width: 100%;

}

#head {
    font-size: 65px;
}

#button {
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange tomato);
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}

.third {
    text-align: Center;
}

.second {

    background-color: wheat;
    border: 2px solid white;

}

.half-width {
    width: 50%;
}

.img {
    width: auto;
    display: flex;
}

.box-left {

    border: 7px solid wheat;
}

.box-right {

    border: 7px solid wheat;
}

#box-left {
    border-left: 7px solid white;

}

#box-right {
    border-left: 7px solid white;
}

.box {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

.flexible {
    display: flex;
    margin: 100px;
}