body {
    font-family: 'Poppins', sans-serif;
}

.flex {
    display: flex;
    margin: 200;
}

#head {
    font-size: 65px;
}

#button {
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange tomato);
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}